<h1>Soy la vista del chat</h1>

<form
  id="formularioChat"
  style="max-width: 500px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; text-align: center;"
>
  <label for="user" style="display: block; margin-bottom: 5px;"></label>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="E-mail"
    style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;"
  />
  <label
    for="message"
    style="display: block; margin-bottom: 5px;"
  >Mensaje</label>
  <textarea
    name="messageUser"
    id="messageUser"
    cols="30"
    rows="10"
    style="width: 100%; padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box;"
  ></textarea>
  <button
    type="submit"
    style="background-color: #007bff; color: white; border: none; border-radius: 5px; padding: 10px 20px; cursor: pointer;"
  >Enviar</button>
</form>

<div
  id="chat-container"
  style="max-width: 500px; margin: 20px auto; padding: 20px; background-color: #f9f9f9; border: 1px solid #ccc; border-radius: 5px;"
>
  <div id="chat-messages" style="overflow-y: auto; max-height: 400px;">
    {{#each messages}}
      <div class="message" style="text-align: right; margin-bottom: 10px;">
        <p
          style="color: black; font-weight: bold; margin-bottom: 5px;"
        >{{this.user}}</p>
        <p
          style="background-color: #dcf8c6; padding: 10px; border-radius: 10px; display: inline-block; max-width: 70%; margin-bottom: 0;"
        >{{this.message}}</p>
      </div>
    {{/each}}
  </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>