<h1>HOME</h1>

<div>
    
    {{#if isLogin}}
    <button onclick="window.location.href = '/profile';">
        Profile
    </button>
    {{else}}
    <button onclick="window.location.href = '/login';">
        Login
    </button>
    <button onclick="window.location.href = '/register';">
        Register
    </button>
    {{/if}}
</div>

