<h1>HOME</h1>

<div>
    <button onclick="window.location.href = '/profile';">
        Profile
    </button>
    <button onclick="window.location.href = '/login';">
        Login
    </button>
    <button onclick="window.location.href = '/mandarEmail';">
        Olvide mi contrasenia
    </button>
</div>

 