<h1>HOME</h1>

<div>
  {{#if notUser}}
   <button onclick="window.location.href = '/login';">
    Login
  </button>
  {{else}}
  <button onclick="window.location.href = '/profile';">
    Profile
  </button>
  {{/if}}
  <button onclick="window.location.href = '/mandarEmail';">
    Olvide mi contrasenia
  </button>
</div>