<form
  action="http://localhost:8080/api/products/"
  method="post"
  style="display: flex; flex-direction: column; max-width: 400px; margin: auto;"
>
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" required />

  <label for="description">Description:</label>
  <textarea id="description" name="description" rows="4" cols="50"></textarea>

  <label for="price">price:</label>
  <input type="number" id="price" name="price" required />

  <label for="category">Category:</label>
  <input type="text" id="category" name="category" required />

  <label for="code">code:</label>
  <input type="number" id="code" name="code" required />

  <label for="stock">Stock:</label>
  <input type="number" id="stock" name="stock" required />

  <input type="hidden" id="thumbnails" name="thumbnails" value="[]" />
  <input type="hidden" id="status" name="status" value="true" />

  <button type="submit" name="submit"> Enviar">Enviar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>