<form action="http://localhost:8080/api/users/restorePassword" method="POST">
  <label for="newPassword">Reset Passowrd</label>
  <input
    type="password"
    id="newPassword"
    name="newPassword"
    placeholder="New password"
    style="width: 300px; padding: 8px; margin-bottom: 10px;"
    required
  />
  <button type="submit">reestablecer</button>
</form>