<form id="resetPassForm" method="POST">
  <label for="newPassword">Reset Passowrd</label>
  <input
    type="password"
    id="newPassword"
    name="password"
    placeholder="New password"
    style="width: 300px; padding: 8px; margin-bottom: 10px;"
    required
  />
  <input type="hidden" id="token" name="token" value="" />
  <button type="submit">reestablecer</button>
</form>

<script src="/js/resetPassword.js"></script>