<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce CH</title>
    <link rel="shortcut icon" href="/img/favic.png" type="image/x-icon">
  </head>
  <body>
    <nav>
      <button id="cartView">Cart</button>
      <a href="/">Home</a>
      <a href="/products">Productos</a>
      <a id="authLink" href="/login">Login</a>
    </nav>
    {{{body}}}
  </body>
  <script src="/js/cart.js"></script>
 <script src="/js/auth.js"></script>
</html>